<script lang="ts">
import type { ExampleConfigClientOnly } from '../types';
import { defineComponent, ref } from 'vue';
import { getOAuthCallbackUrl } from '../config';

const keys: (keyof ExampleConfigClientOnly)[] = [
  'gitlabUrl',
  'projectPath',
  'gitRef',
  'gitlabToken',
  'telemetryEnabled',
  'authType',
  'clientId',
];

const AUTH_OPTIONS = [
  {
    label: 'None',
    value: '',
  },
  {
    label: 'OAuth',
    value: 'oauth',
  },
  {
    label: 'Token',
    value: 'token',
  },
];

export default defineComponent({
  props: keys,
  emits: {
    update(key: keyof ExampleConfigClientOnly, value: string) {
      return Boolean(key);
    },
  },
  setup(props, { emit }) {
    // methods
    const updateKey = (key: keyof ExampleConfigClientOnly, event: Event) => {
      const el = event.target as HTMLInputElement;

      const isCheckbox = el.type === 'checkbox';

      emit('update', key, isCheckbox ? el.checked : el.value);
    };

    // what: Make sure we have a valid authType selected
    if (!AUTH_OPTIONS.map(x => x.value).includes(props.authType)) {
      emit('update', 'authType', AUTH_OPTIONS[0].value);
    }

    return {
      updateKey,
      AUTH_OPTIONS,
      callbackUrl: getOAuthCallbackUrl(),
    };
  },
});
</script>

<template>
  <div>
    <label class="block">
      <span>GitLab URL</span>
      <input
        name="gitlab_url"
        class="gl-input"
        type="text"
        placeholder="URL of GitLab instance (e.g. https://gitlab.com)"
        :value="gitlabUrl"
        @input="updateKey('gitlabUrl', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Project Path</span>
      <input
        name="project_path"
        class="gl-input"
        type="text"
        placeholder="Path to GitLab project (e.g. gitlab-org/gitlab)"
        :value="projectPath"
        @input="updateKey('projectPath', $event)"
      />
    </label>
    <label class="block mt-3">
      <span>Git Ref</span>
      <input
        name="ref"
        class="gl-input"
        type="text"
        placeholder="Commit or branch name (e.g. main)"
        :value="gitRef"
        @input="updateKey('gitRef', $event)"
      />
    </label>
    <label class="block mt-3">
      <input
        name="code_suggestions_enabled"
        type="checkbox"
        :value="codeSuggestionsEnabled"
        @input="updateKey('codeSuggestionsEnabled', $event)"
      />
      <span class="ml-3">Enable code suggestions</span>
    </label>
    <label class="block mt-3">
      <input
        name="telemetry_enabled"
        type="checkbox"
        :value="telemetryEnabled"
        @input="updateKey('telemetryEnabled', $event)"
      />
      <span class="ml-3">Enable telemetry</span>
    </label>
    <label class="block mt-3">
      <span>Authentication Type</span>
      <select
        name="auth_type"
        class="gl-input"
        :value="authType"
        @input="updateKey('authType', $event)"
      >
        <option v-for="{ value, label } in AUTH_OPTIONS" :key="value" :value="value">
          {{ label }}
        </option>
      </select>
    </label>
    <template v-if="authType === 'token'">
      <label class="block mt-3">
        <span>Gitlab Token</span>
        <input
          name="gitlab_token"
          class="gl-input"
          type="password"
          :value="gitlabToken"
          @input="updateKey('gitlabToken', $event)"
        />
      </label>
    </template>
    <template v-else-if="authType === 'oauth'">
      <label class="block mt-3">
        <span>Client ID</span>
        <input
          name="client_id"
          class="gl-input"
          type="text"
          placeholder="OAuth Application Client ID"
          :value="clientId"
          @input="updateKey('clientId', $event)"
        />
      </label>
      <div class="text-gray-600">
        <small>
          The OAuth Application should have the following Redirect URL:
          <code>{{ callbackUrl }}</code>
        </small>
      </div>
    </template>
  </div>
</template>
